html{
font-style: normal;
font-size: 100%;
font-family: fantasy;
font-weight: normal;
}
body{
  color: #fff;
  background-color: #2f3133;
  text-align:center;
}
body img{
  padding: 0px;
  margin: 100px;
}

.top{
padding: 50px;
}

.oasis1{
  text-decoration: underline;
  border-style: double;
  border-color: purple;
}
.oasis1 h2{
  padding-top: 75px;
}
.oasis1 img{
  position: relative;
}
